<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/write.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST">
      <div>
        <label>작성자</label><input id="b_writer" name="b_writer" type="text" />
      </div>
      <div>
        <label>작성일자</label><input id="b_date" name="b_date" type="text" />
      </div>
      <div>
        <label>작성시각</label><input id="b_time" name="b_time" type="text" />
      </div>
      <div>
        <label>제목</label><input id="b_subject" name="b_subject" type="text" />
      </div>
      <div>
        <label>내용</label>
        <textarea name="b_text" id="b_text"></textarea>
      </div>
      <button>저장</button>
    </form>
  </body>
</html>
