extends layout

block content
	script(src="/js/order.js")
	link(href="/css/order.css",rel="stylesheet")
	article.order_list(data-table_id= table_id) 
		h1 !{table_id} 번 테이블 주문 리스트
		table.order_list
			thead
				tr 
					th ID 
					th 메뉴
					th 수량
					th 단가
					th 합계
					th 삭제
			tbody
		.btn_box.pay_box 
			button.btn_table_layout 처음으로
			button.btn_pay_cash 현금결제
			button.btn_pay_card 카드결제

	article.menu_list
		each menu_item,index in MENU
			div.menu(data-menu_id= menu_item.p_code)
				h3= menu_item.p_name 
				p= menu_item.p_price


	style.
		div.modal {
			position:fixed;
			top:0;
			left:0;
			width:100vw;
			height:100vh;
			background-color:rgba(0,0,0,0.5);
			z-index:10;
			
			flex-flow:column;
			display:none;
		}
		div.close {
			text-align:right;
			color:white;
			font-size:30px;
			padding:20px;
		}

		div.close span:hover {
			border-radius:50%;
			background-color:#ddd;
		}

		div.message {
			display:flex;
			flex-flow:column;
			justify-content:center;
			align-items:center;
			color:yellow;
		}

	div.modal 
		div.close
			span &times;
		div.message
			h1 결제금액 :
				span.pay_total
			h2 결제종류 :
				span.pay_qty
			button.btn_pay_complete 확인	

