<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>반갑습니다.</h1>
    <h3>우리나라는 <%- nation %></h3>
    <h4><% const na = "대한민국" %><%- na %></h4>
    <h4><%= html %></h4>
    <h4><%- html %></h4>
  </body>
</html>
