doctype html
html
	head
		title 우리동네 김밥천국
		style.
			* {
				box-sizing : border-box;
				margin:0;
				padding:0;
			}
			body {
				width:100vw;
				height:100vh;
				display:flex;
				flex-flow:column;
			}
			header {
				width:100vw;
				padding:1rem;
				background-color:green;
				color:white;
				text-shadow:1px 1px 1px black;
				text-align:center;
			}

			section.main {
				flex:1;
				border:1px solid blue;
				margin:5px;
			}

			footer {
				background-color:blue;
				color:white;
				text-align:center;
				padding:0.5rem;
			}

	body
		header 
			h1 김밥천국 2021
		
		section.main
			block content

		footer 	
			address CopyRight &copy;callor@callor.com
