extends layout

block content
	style.
		section.main {
			display:flex;
			flex-wrap:wrap;
			justify-content:center;
			align-items:center;
		}
		article {
			border:1px solid green;
			margin:10px;
			padding:10px;
			background-color:#ddd;
			height:90%;
		}
		article.order_list {
			flex:2;
		}
		article.product_list {
			flex:3;
			display:flex;
			flex-wrap:wrap;
		}

		article.order_list h1 {
			background-color:#333;
			color:white;
			text-align:center;
		}

		article.product_list div.menu {
			width:100px;
			margin:5px;
			border:1px solid red;
			background-color:#ddd;
			color:blue;
			font-weight:bold;
		}

	article.order_list 
		h1 !{table_id} 번 테이블 주문 리스트
	article.product_list
		- for(let i = 0 ; i < 20 ; i++)
			div.menu !{i+1} 번 메뉴
	