html(lang="ko") 
	head
		title 나의 게시판 
		link(rel="stylesheet",href="/css/main.css") 
	body 
		header 
			h1 나의 게시판 
			p 나의 게시판에 오신것을 환영합니다 

		block content
		
		footer 
			address CopyRight &copy; callor@callor.com

